* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container-About {
  max-width: 1920px;
  min-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  height: 2456px;
}

/*-------------Header----------------*/
header {
  border-bottom: 1px solid #EFEFEF;
  width: 100%;
  margin-top: 31px;
  padding-bottom: 15px;
}

header .logo {
  margin: auto;
  font-family: Integral CF;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #3D00B7;
  cursor: default;
}

header .navBar {
  margin: auto;
}

header .navBar ul li {
  list-style-type: none;
  margin-right: 47px;
}

header .navBar ul li a {
  text-decoration: none;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  letter-spacing: 0.04em;
  color: #000000;
}

header .navBar ul li a:hover {
  color: #3D00B7;
}

header .inpSearch #srh {
  width: 300px;
  height: 50px;
  margin: auto;
  background: #FFFFFF;
  border: 2px solid #EFEFEF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
}

header .inpSearch ::-webkit-input-placeholder {
  position: absolute;
  left: 15px;
  top: 15px;
}

header .inpSearch :-ms-input-placeholder {
  position: absolute;
  left: 15px;
  top: 15px;
}

header .inpSearch ::-ms-input-placeholder {
  position: absolute;
  left: 15px;
  top: 15px;
}

header .inpSearch ::placeholder {
  position: absolute;
  left: 15px;
  top: 15px;
}

header .inpSearch input {
  text-align: center;
}

header .inpSearch input[type="submit"] {
  background: url("./srhBtnt.png") no-repeat 50% 50%;
  width: 30px;
  position: relative;
  border: none;
  top: 8px;
  height: 30px;
  right: 50px;
  cursor: pointer;
}

header .btnGroup {
  margin: auto;
}

header .btnGroup .Upload {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 40px;
  background: #3D00B7;
  border-radius: 60px;
  width: 131px;
  height: 50px;
  color: white;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.04em;
  margin-right: 20px;
  border: 2px solid #3D00B7;
  cursor: pointer;
}

header .btnGroup .ConnectWallet {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 22px;
  border: 2px solid #3D00B7;
  width: 156px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 60px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.04em;
  color: #3D00B7;
  background: white;
  cursor: pointer;
}

@media screen and (max-width: 1920px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .navBar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 2200px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .navBar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=syle.css.map */