@mixin display_settings_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

@mixin display_settings_2 {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin btn_purple_settings ($heig) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 40px;
    height: $heig;
    background: #3D00B7;
    border: solid 2px #3D00B7;
    border-radius: 60px;
    color: white;
    cursor: pointer;
    transition: 0.2s linear;
}

@mixin btn_purple_hover {
    background: white;
    color: #3D00B7;
}

@mixin btn_white_settings ($heig) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 22px;
    border: 2px solid #3D00B7;
    box-sizing: border-box;
    border-radius: 60px;
    color: #3D00B7;
    height: $heig;
    background: white;
    cursor: pointer;
    transition: 0.2s linear;
}

@mixin btn_white_hover {
    background: #3D00B7;
    color: white;
}

@mixin container {
    width: clamp(200px, 50%, 1000px);
}

@mixin title ($width, $height, $f-s, $l-h){
    width: $width;
    height: $height;
    font-family: Integral CF;
    font-style: normal;
    font-weight: normal;
    font-size: $f-s;
    line-height: $l-h;
    letter-spacing: 0.05em;
    color: #000000;
}

@mixin gray_txt($width, $height, $f-s, $l-h) {
    width: $width;
    height: $height;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: $f-s;
    line-height: $l-h;
    color: #565656;
}
@font-face {
    font-family: Averta Demo PE Cutted Demo;
    src: url(./FontsFree-Net-AvertaDemoPECuttedDemo-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}